.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  position: fixed;
  background: var(--preloader-bg);
  z-index: 999;
  inset: 0;
  gap: var(--preloader-gap, 10px);

  &::after {
    display: block;
    content: '';
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
    background: var(--preloader-bg-spinner);
  }

  &::before {
    display: block;
    content: '';
    background: var(--preloader-bg-logo);
    width: var(--preloader-bg-logo-width, 120px);
    height: var(--preloader-bg-logo-height, 0);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
