.marquee {
  position: relative;
  width: 100%;
  padding: 5px;
  background: var(--marquee-bg, none);

  --marque-width: 100vw;

  @media (min-width: 992px) {
    --marque-width: calc(100vw - var(--menu-width_side_close, 70px));

    .side-opened & {
      --marque-width: calc(100vw - var(--menu-width, 280px));
    }
  }
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  color: var(--marquee-color, #fff);
  animation: marquee linear infinite;

  span {
    padding: 0 2em;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--marque-width));
  }

  100% {
    transform: translateX(-100%);
  }
}
